body {
  /* font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%); */
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:30px;
  border: 1px solid;
}


.col-sm{

}


.col1, .col2{
    border-right: 1px solid;

}



@media screen and (max-width: 600px) {
  .col1, .col2  {
    border-bottom: 1px solid;
    border-right: 0px solid;
  }
}
